body {
    background: #CFF;
    display: grid;
    place-items: center;
    width: 95%;
    height: 100%;
    margin: 0px;
    padding: 5px;
    color: black;
}

#container {
    border: 2px solid #6FF;
    height: 100vh;
    width: 90vw;
    max-width: 480px;
    margin: 0px;
    padding: 3px;
    display: grid;
    grid-template-rows: 1fr 1fr 10fr 2fr;
}

#q-space {
    border: 2px solid #6FF;
    border-radius: 5%;
    text-align: center;
}

#feedback-space {
    border: 2px solid #6FF;
    border-radius: 5%;
    text-align: center;
}

.q-card {
    display: block;
    background: white;
    padding:5px;
    margin: 2px;
    /* border: 2px solid #6FF; */
    border-radius: 30%;
    box-shadow: 3px 3px 5px 0px #ccc;
    cursor: pointer;
}

.q-card:hover {
    background: pink
}

/* specific to sortq */
.sortq-li {
    display: flex;
    align-items: center;
    background: white;
    margin: 2px 7px 2px 7px;
    padding-left: 3px;
    width: auto;
    height: 30px;
    box-shadow: 3px 3px 5px 0px #ccc;
    cursor: move;
}
.sortq-li:hover {
    background: pink;
}
.codeSpace {
    white-space: pre-wrap;
}
.wrong-pos {
    border-left: 3px solid red;
}
.right-pos {
    border-left: 3px solid green;
}


/* Vue transition classes */

.fade-enter-active, .fade-leave-active {
    transition: all 0.25s ease;
}
.fade-enter, .fade-leave-to {
    transform: translateX(-100px);
    opacity: 0;
}
